.gallery {
    display: flex;
    justify-content: center;
}

.gallery__panel {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.gallery__container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    margin-top: 65px;
    max-width: 1062px;
    padding: 5px;
}
